textarea {
    width: calc(100% - 20px);
    height: 300px;
    padding: 10px;
    font-size: 15px;
    font-family: "Roboto Slab";
}

.form-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

input[type="date"],
input[type="number"],
input[type="text"],
select {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Roboto Slab";
    background-color: white;
}

input[type="number"] {
    width: 100px;
}

input:checked + label {
  opacity: 1;
}

.button-group-row input {
  display: none;
}

input[type="checkbox"] {
  opacity: 0;
}

#textAreaInput {
  width: 80vw;
}

input[type="radio"]:checked + label {
  opacity: 1;
}

.search-button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 500px) {
  .search-button-group {
    flex-direction: column;
  }

  .search-button-group button {
    width: 100%;
  }
}
