@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;900&display=swap";

:root {
  --body-background: #e5e5e5;
  --header-background: #f2a007;
  --nav-background: #808080;
  --message-text: #fff;
  --error-background: #b81f24;
  --error-hover: #a51b20;
  --success-background: green;
  --delete-background: #fc6a03;
  --info-background: #006270;
  --main-background: #ffffff;
  --main-headings: #b81f24;
  --main-color: #000000;
  --main-link: #302ae6;
  --dark-mode-icon: #ffffff;
  --project-divider: #000;
  --links-background: #b81f24;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-background);
  font-family: "Roboto Slab";
  overscroll-behavior: none;
  z-index: 1;
}

#loading {
  z-index: 99;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto";
  font-weight: 600;
}

.hide {
  display: none !important;
}

header {
  padding: 10px 15px;
  background-color: var(--header-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header h1 a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

#back-button {
  cursor: pointer;
  color: black;
  text-decoration: none;
  background: transparent;
  border: 0;
  width: 50px;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

#title-container {
  flex-grow: 1;
  /* Allow the container to grow and take up available space */
  text-align: center;
  /* Center the text within the container */
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#account-container {
  display: flex;
  align-items: center;
  font-size: 20px;
}

hr {
  border-bottom: 2px solid #bebebe;
  margin: 0 20px;
}

.account-button {
  padding: 10px;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.account-button:hover {
  text-decoration: underline;
}

#intro-section {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 800px;
  margin: 5px;
  padding: 5px;
}

#intro-section p {
  margin: 10px 0;
}

/* messages */

#main-message {
  position: fixed;
  top: 70px;
  z-index: 5;
}
.message-wrapper {
  height: 50px;
}
.message-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  animation-duration: 0.2s;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.message button {
  background-color: inherit;
  color: inherit;
  border: 1px solid var(--message-text);
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.success {
  background-color: var(--success-background);
  color: var(--message-text);
}

.error {
  background-color: var(--error-background);
  color: var(--message-text);
}

.warn {
  background-color: var(--delete-background);
  color: var(--message-text);
}

.info {
  background-color: var(--info-background);
  color: var(--message-text);
}

main {
  background-color: var(--main-background);
  border-radius: 10px;
  padding: 20px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

#notes-display p {
  margin: 10px 0;
}

.center {
  text-align: center;
}

hr {
  margin: 10px 0;
  height: 5px;
  background-color: var(--mainColor);
}

.clickable {
  cursor: pointer;
}

.button-group-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.button-group-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 5px 0;
}

.button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0 #ffffff;
  transform: translateY(4px);
}

.full {
  width: 100%;
}

.large {
  font-size: 40px;
  padding: 50px;
}

.red {
  background-color: rgba(223, 44, 20, 1);
  color: white;
}

.orange {
  background-color: rgba(245, 130, 22, 1);
  color: black;
}

.yellow {
  background-color: rgba(255, 255, 0, 1);
  color: black;
}

.green {
  background-color: rgba(0, 163, 0, 1);
  color: white;
}

.blue {
  background-color: rgba(0, 0, 255, 1);
  color: white;
}

.purple {
  background-color: rgba(81, 8, 126, 1);
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.black {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.grey {
  background-color: rgba(128, 128, 128, 1);
  color: white;
  border: 0;
}

.border {
  border: 1px solid black;
}

.half {
  opacity: 0.5;
}

.disabled {
  background-color: gray;
  cursor: not-allowed !important;
}

.disabled:active {
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  transform: translateY(0);
}

td,
th {
  text-align: center;
}

.textbox {
  display: block;
  width: 100%;
  height: 300px;
  padding: 10px;
  margin: 10px 0;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
}

.popupBackground {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  width: 800px;
  min-height: 200px;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  z-index: 3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#visual-legend {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-radius: 10px;
}

#visual-legend legend {
  margin: 0 15px;
}

#visual-legend label {
  display: flex;
  align-items: center;
}

#visual-legend span {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 15px;
  border: 1px solid black;
}

.box-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  border: 2px solid #333;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  /* white-space: nowrap; */
}

.frame-container {
  height: 350px;
  max-width: 60px;
  min-width: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2px;
  flex-shrink: 0;
}

.frame-text {
  transform: rotate(-90deg);
  white-space: nowrap;
  transform-origin: center center;
  padding: 5px;
}

.none {
  background-color: black;
  color: white;
}

.honey {
  background-color: yellow;
  color: black;
}

.nectar {
  background-color: yellow;
  color: black;
}

.draw-comb {
  background-color: white;
  color: black;
}

.brood {
  background-color: brown;
  color: white;
}

/* Modals */
.backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal {
  position: relative;
  background-color: var(--main-background);
  border-radius: 10px;
  color: var(--main-text);
  padding: 20px;
  animation-duration: 0.5s;
  animation-name: fade-in;
  animation-timing-function: ease-in;
  z-index: 3;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @media (min-width: 900px) {
  main {
    width: 100%;
    max-width: 900px;
    margin: 20px 0;
  }
}

@media (max-width: 899px) {
  main {
    margin: 20px;
  }
} */
main {
  background-color: var(--main-background);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box; /* CRITICAL: Includes padding in the width calculation */
  width: auto; /* Let margins define the width on mobile */
  max-width: 100%; /* Prevent it from ever being wider than the viewport */
  overflow-x: hidden;
}

/*Desktop*/
@media (min-width: 740px) {
  main {
    min-width: 740px;
  }
  #visual-legend {
  justify-content: space-around;
  flex-direction: row;
}
}

/*Mobile*/
@media (max-width: 739px) {
  #main-message {
    top: 115px;
  }
  #visual-legend {
  align-items: flex-start;
  flex-direction: column;
}
}