.table-container {
  width: 100%;
  overflow-x: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--nav-background);
  margin: 10px 0;
  width: 100%;
  min-width: 500px;
}

thead {
  background-color: var(--nav-background);
  color: white;
  text-align: left;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: var(--body-background);
}

.table-clickable tr {
  cursor: pointer;
}

.table-clickable tr:hover {
  background-color: #737373;
  color: white;
}

table ol,
table ul {
  margin: 5px 20px;
}

table button {
  cursor: pointer;
}

.delete-button-icon {
  background-color: transparent;
  color: var(--main-text);
}

.delete-button-icon:hover {
  background-color: var(--secondary-accent);
  border-radius: 5px;
}
